body {
    background-image: url('/img/matrix.jpg');
    background-size: cover;
    background-color: rgb(44, 44, 44);
  
}

#canvas {
    border:1px solid #ffffff;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#mainDiv {
    padding-top: 10px;
    width: 80%;
    margin: auto auto;
    padding-bottom: 150px;
}
div#menu div{
    text-align: center;
}
div#menu div button:hover{
    background-color: rgb(48, 92, 92);
    color: whitesmoke;
}
div#menu div button{
    background-color: whitesmoke;
    width: 70px;
    height: auto;
}


h1{
    text-align: center;
    color:rgba(0, 195, 255, 0.822);
    text-shadow:2px 2px 1px rgb(1, 45, 66);
}
div#vezerlo{
    width: 70%;
    margin: auto auto;
    
}
#StartGomb{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60px;
    height: 40px;
    margin-bottom: 20px;
}